<!DOCTYPE html>

{% load static %}

<html>

    <head>

        {% block title %}<title>Biomedica</title>{% endblock %}

        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext|Tangerine:bold,bolditalic" rel="stylesheet" type="text/css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

        <script src="//code.jquery.com/jquery-1.12.4.js"></script>

        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!-- only if you also need jQuery -->
        <script src="{% static 'intercoolerjs/js/jquery.js' %}"></script>
        <!-- this is the minified intercooler.js -->
        <script src="{% static 'intercoolerjs/js/intercooler.min.js' %}"></script>

        {% load static %}

        <link rel="stylesheet" href="{% static 'css/gestion.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'todo_list/css/main.css' %}">
        <link rel="shortcut icon" href="/static/media/iconoquiru.ico" />

    </head>

    <body background="/static/media/imglogo/fondo5.png">

    <div class="col-md-16">

        <div class="page-header">

            <table>

                <tr>

                    <th colspan="5"><em><h1><a href="/">Gestion Tecnologica Equipos Biomedicos</a></h1></em></th>

                    <th></th>

                    <th></th>

                     <img class="date" src="/static/media/imglogo/logo3.png"alt="logoquirustetic">

                </tr>

            </table>

        </div>

    </div>
    <div class="container-fluid">

            <div class="row">

                <div class="col-sm-2">

                    {% block sidebar %}

                    <ul class="sidebar-nav">

                            {% if user.is_authenticated %}

                           <li> <p style="font-size:14pt"><em><strong>{{ user.get_username }}</strong></em></p>

                            <p class="top-menu"> <span class="glyphicon glyphicon-user" ></span></p></li>

                            {% endif %}

                            <li><a href="{% url 'inicio' %}" class="top-menu"><span class="glyphicon glyphicon-home"></span> </a></li>

                            {% if user.is_authenticated %}

                            <li><a href="{% url 'search' %}" class="top-menu"><span class="glyphicon glyphicon-search"></span></a></li>

                            <li><a href="{% url 'frequently_detail' %}" class="top-menu"><span class="glyphicon glyphicon-th-list"></span></a></li>

                            <li><a href="{% url 'formulario' %}" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a></li>

                            <li><a href="{% url 'counters' %}" class="top-menu"><span class="glyphicon glyphicon-info-sign"></span></a></li>

                            <li><a href="{% url 'tareas' %}" class="top-menu"><span class="glyphicon glyphicon-tasks"></span></a></li>

                            <li><a href="/static/media/pdf/inventario.pdf" class="top-menu" target="_blank"><span class="glyphicon glyphicon-folder-open"></span></a></li>

                            <li><a href="/static/media/pdf/mantenimiento.pdf " class="top-menu" target="_blank"><span class="glyphicon glyphicon-calendar">H</span></a></li>

                            <li> <a href="/static/media/pdf/metrologia.pdf" class="top-menu" target="_blank"><span class="glyphicon glyphicon-calendar">M</span></a></li>

                            <li><a href="{% url 'logout'%}?next={{request.path}}" class="top-menu"><span class="glyphicon glyphicon-log-out"></span></a></li>

                            {% else %}

                            <li><a href="{% url 'login'%}?next={{request.path}}" class="top-menu"><span class="glyphicon glyphicon-log-in"></span></a></li>

                            {% endif %}

                        </ul>

                    {% endblock %}

                </div>

                <div class="col-sm-10">

                  <div id="contenido"> {% block content %}
                      {% endblock %}
                  </div>

                    {% block pagination %}

                    {% endblock %}


                </div>

            </div>

        </div>

    <footer class="copyright"  >

        <div><strong> Sistema de gestión Tecnologica. © Johan Gutierrez-2019 </strong></div>

    </footer>

    </body>

</html>
