{% extends 'gestion/base.html' %}
{% load static %}
{% block content %}
{% load static %}
<body>
    <div class="post" xmlns="http://www.w3.org/1999/html">
        {% if equipo.created_date %}
            <div class="date">
                {{ equipo.created_date }}
            </div>
        {% endif %}
        <div>
            <table style="font-size=22">
                <tr>
                    <th colspan="2"><h1><a> {{ post.nombre }}</a></h1></th>
                    <th rowspan="14">
                        {% if post.imagen %}
                        <img src="{{post.imagen.url}}" alt="{{post.nombre}}" class=top-menu style="width:220px; ">
                        {% else %}
                        <img src="/media/uploads/imagenes/no_im.jpg" alt="{{ post.nombre }}" class=top-menu style="width:220px; ">{% endif %}

                    </th>
                    {% if user.is_authenticated %}
                    <th><a class=top-menu href="{% url 'formulario_edit' pk=post.pk %}">
                        <span class="glyphicon glyphicon-edit"></span></a>
                    </th>
                    {% endif %}

                </tr>
                <tr>
                    <th>MARCA:</th>
                    <th>{{ post.marca }}</th>

                </tr>
                <tr>
                    <th>MODELO :</th>
                    <th> {{ post.modelo }} </th>
                </tr>
                <tr>
                    <th>SERIE:</th>
                    <th>{{ post.serie }}</th>
                </tr>
                <tr>
                    <th>ACTIVO:</th>
                    <th>{{ post.activo }}</th>
                </tr>
                    {% if post.archivo_hoja_de_vida %}
                <tr>
                    <th colspan="2" style="font-size:20pt" align="center"><a href="{{ post.archivo_hoja_de_vida.url }}" class="glyphicon glyphicon-eye-open" target="_blank">
                        Ver hoja de vida
                    </a></th>
                    {% endif %}
                </tr>
                    <tr>
                        <th>FACTURA:</th>
                        <th>{{ post.factura}}</th>
                    </tr>
                {% if post.archivo_factura %}
                <tr>
                    <th colspan="2" style="font-size:20pt"><a href="{{ post.archivo_factura.url }}" class="glyphicon glyphicon-eye-open" target="_blank">
                        Ver Factura
                    </a></th>
                </tr>
            {% endif %}
                  <tr>
                      <th> FECHA DE FACTURA:</th>
                      <th>{{ post.fecha_factura }}</th>
                  </tr>
                <tr>
                    <th>PROVEEDOR:</th>
                    <th>{{ post.importador }}</th>
                </tr>
                <tr>
                    <th>RIESGO:</th>
                    <th>{{ post.riesgo }}</th>
                </tr>
                <tr>
                    <th>USO:</th>
                    <th>{{ post.uso }}</th>
                </tr>
                <tr>
                    <th>UBICACION:</th>
                    <th>{{ post.ubicacion}}</th>
                </tr>
                <tr>
                    <th>INVIMA:</th>
                    <th>{{ post.invima }}</th>
                </tr>
            {% if post.archivo_invima %}
                <tr>
                    <th colspan="2" style="font-size:20pt"><a href="{{ post.archivo_invima.url }}" class="glyphicon glyphicon-eye-open" target="_blank">
                        Ver Invima
                    </a></th>
                </tr>
            {% endif %}
                <tr>
                    <th>IMPORTACION:</th>
                    <th>{{ post.importacion }}</th>
                </tr>
            {% if post.archivo_importacion %}
                <tr>

                    <th colspan="2" style="font-size:20pt"><a href="{{ post.archivo_importacion.url }}" class="glyphicon glyphicon-eye-open" target="_blank">
                        Ver Importacion
                    </a></th>
                </tr>
            {% endif %}
                <tr>
                    <th>MANUAL USUARIO:</th>
                    <th>{{ post.manual_usuario }}</th>
                </tr>
                <tr>
                    <th>MANUAL FUNCIONAMIENTO:</th>
                    <th>{{ post.manual_funcionamiento }}</th>
                </tr>
                <tr>
                    <th>MANUAL INSTALACION:</th>
                    <th>{{ post.manual_instalacion }}</th>
                </tr>
                <tr>
                    <th>MANUAL MANTENIMIENTO:</th>
                    <th>{{ post.manual_mantenimiento }}</th>
                </tr>
                <tr>
                    <th>UBICACION MANUALES:</th>
                    <th>{{ post.ubicacion_manuales }}</th>
                </tr>
                <tr>
                    <th>GUIA RAPIDA:</th>
                    <th>{{ post.guia_rapida}}</th>
                </tr>
                <tr>
                    <th>MANTENIMIENTO:</th>
                    <th>{{ post.mantenimiento }}<th></th>
                </tr>
                <tr>
                    <th>CALIBRACION</th>
                    <th>{{ post.calibracion }}</th>
                </tr>
                {% if post.historico_mantenimiento %}
                <tr>
                    <th colspan="2" style="font-size:20pt">
                        <a href="{{ post.historico_mantenimiento.url }}" class="glyphicon glyphicon-eye-open" target="_blank">
                        Ver Historico
                    </a></th>
                </tr>
                {% endif %}
                {% if post.cronograma_calibracion %}
                <tr>
                    <th colspan="2"style="font-size:20pt">
                        <a href="{{ post.cronograma_general.url }}" class="glyphicon glyphicon-eye-open" target="_blank">
                        Ver Cronograma
                    </a></th>
                </tr>
                {% endif %}
            <tr>
                <th colspan="2"> {{ post.created_date }}</th>
            </tr>
                <tr>
                    <th>OBSERVACIONES:</th>
                </tr>
                <tr>
                    <th>{{ post.observacion}}</th>
                </tr>

            </table>
        </div>
    </div>
</body>
{% endblock %}
