{% extends 'gestion/base.html' %}
{% load static %}
{% block content %}
{% load static %}

<div><h1><a> EQUIPOS QUE NO TIENEN CALIBRACION </a></h1></div>
<a href="/counters" style="float:right;font-size:36px;color: #0303AD;" ><span class="glyphicon glyphicon-hand-left" >BACK</span></a>
{% for equipo in equipos %}
    <ul class="media-list">

        <li class="media">
                <a class="pull-left" href= "{% url 'equipo_detail' pk=equipo.pk %}" >
                    {% if equipo.imagen %}
                    <img class= "media-object"src="{{equipo.imagen.url}}" alt="{{equipo.nombre}}" width="80"; height="80" >
                    {% else %}
                    <img class= "media-object"src="/media/uploads/imagenes/no_im.jpg"  alt="{{equipo.nombre}}" width="80"; height="80">
                    {% endif %}
                </a>
            <div class="media-body">
                <h4>{{ equipo.nombre|escape }}</h4>
                <span align="center"><b >ACTIVO# <a href= "{% url 'equipo_detail' pk=equipo.pk %}" style="color-font=black" >{{ equipo.activo }}</a> </b></span>
            </div>

        </li>

</ul>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if equipos.has_previous %}
            <a href="?page=1">&laquo; PRIMERA</a>
            <a href="?page={{ equipos.previous_page_number }}">ANTERIOR</a>
        {% endif %}

        <span class="current">
            Page {{ equipos.number }} of {{ equipos.paginator.num_pages }}.
        </span>

        {% if equipos.has_next %}
            <a href="?page={{ equipos.next_page_number }}">SIGUIENTE</a>
            <a href="?page={{ equipos.paginator.num_pages }}">ULTIMA &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
