{% extends 'gestion/base.html' %}
{% load static %}
{% block content %}
{% load static %}

<div><h1><a> Listado De Equipos Que No Tienen Invima</a></h1></div>
{% for equipo in sininvima %}
<div><p>
    <ul>
       <strong> <li><a href= "{% url 'equipo_detail' pk=equipo.pk %}" >{{ equipo.nombre|escape }} </a></li>
        {{ equipo.activo }}</strong>
        {% if sininvima.imagen %}
        <img src="{{sininvima.imagen.url}}" alt="{{sininvima.nombre}}" class=top-menu style="width:220px; ">
        {% else %}
        <img src="/media/uploads/imagenes/no_im.jpg" alt="{{ sininvima.nombre }}" class=top-menu style="width:220px; ">{% endif %}

</ul>
</div>
{% endfor %}
{% endblock %}
