
{% extends 'gestion/base.html' %}
{% load static %}
{% block content %}
{% load static %}

<div><h1><a>EQUIPOS QUE NO TIENEN INVIMA</a></h1></div>
{% for equipo in sininvima %}
<div><p>
    <table align="left">
    <tr>
        <td colspan="3"><strong style="font-size:26pt">
                <a href= "{% url 'equipo_detail' pk=equipo.pk %}" >{{ equipo.nombre|escape }} </a>
        </strong></td>
        <td></td>

    <td rowspan="2">
        {% if equipo.sininvima.imagen %}
        <img src="{{equipo.sininvima.imagen.url}}" alt="{{sininvima.nombre}}" class=top-menu style="width:220px; ">
        {% else %}
        <img src="/media/uploads/imagenes/no_im.jpg" alt="{{ sininvima.nombre }}" class=top-menu style="width:220px; ">{% endif %}
    </td>
    </tr>

    <tr style="font-size:22pt" >
        <td><b>ACTIVO # </b></td><td align="center"><b ><a href= "{% url 'equipo_detail' pk=equipo.pk %}" style="color-font=black" >{{ equipo.activo }}</a></b></td></tr>



</table>
</div>
{% endfor %}
    <a href="/counters" class="top-menu" ><span class="glyphicon glyphicon-hand-left" >ATRAS</span></a>

{% endblock %}

